<!-- Todos los macros utilizado en la app -->
{% macro Listar(data) %}
{% if data %}
<table class="table table-dark table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Coordenadas</th>
            <th scope="col">Edición</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
            <td>{{ item.2 }}</td>
            <td>{{ item.3 }}</td>
            <td>
                <a href="/delete/{{ item.0 }}"><button><i class="fas fa-trash"></i></button></a>
                <a href="/edit/{{ item.0 }}"><button><i class="fas fa-edit"></i></button></a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
        <h4>No hay elementos para mostrar</h4>
{% endif %}
{%- endmacro %}

{% macro Mostrar_Mensajes(messages,type) %}
{% if messages %}
{% for message in messages %}
<div class="alert {{type}} alert-dismissible" role="alert" id="liveAlert">
    <strong></strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{%- endmacro %}

<!-- {% macro Formulario(data) %}

<div class="container">
    <form action={{action}} method="POST">
        <fieldset>
        <input type="text" name="name" id="" placeholder="nombre" value="{{data[1]}}">
        <input type="text" name="birth" id="" placeholder="nacimiento" value={{data[2]}}>
        <input type="text" name="geo" id="" placeholder="coordenadas" value={{data[3]}}>
        <button type="submit">enviar</button>
    </fieldset>
    </form>
</div>
{%- endmacro %} -->

{% macro Formulario(field) %}
    <td> {{field.label}} </td>
    <dd> {{field(**kwargs) | safe}} </dd>
{%- endmacro %}