{% extends 'layout.html' %}
{% block body%}
{% with messages = get_flashed_messages() %}

{% from './Macros/_macro.html' import Mostrar_Mensajes with context %}
{{ Mostrar_Mensajes(messages, type='alert-success') }}

{% endwith %}


{% from './Macros/_macro.html' import Formulario with context %}
<div class="container">
    <form action={{action}} method="POST" novalidate>
        <fieldset>
            <input type="hidden" name="csrf_token" value={{csrf_token()}}>

            {{ Formulario(form.people, class="form-control") }}
            {{ Formulario(form.birth, class="form-control") }}
            {{ Formulario(form.geo, class="form-control") }}
            
            <button type="submit">enviar</button>
        </fieldset>
    </form>
</div>

<div>
    {% if form.errors %}
    <h4>
        No es posible almacenar los datos, ya que han ocurrido los siguientes errores
    </h4>
    <ul>
        {% for error in form.errors %}
        <li>
            {{ form.errors[error][0] }}
        </li>

        {% endfor %}
    </ul>
    {% endif %}
</div>


{% endblock %}