{% extends 'layout.html' %}
{% block test %}
{% if data1 %}
    {{ data1.append("Enviar") }}
{% else %}
    {% set data1=["","","","","Actualizar"] %}
{% endif %}
<h1>{{ data1 }}</h1>
<div class="container">
    <form action={{ action }} method="POST">
        <fieldset>
        <input type="text" name="name" id="" placeholder="nombre" value="{{ data1.0 }}">
        <input type="text" name="birth" id="" placeholder="nacimiento" value="{{ data1.1 }}">
        <input type="text" name="geo" id="" placeholder="coordenadas" value="{{ data1.2 }}">
        <button type="submit">{{ data1.4 }}</button>
    </fieldset>
    </form>
</div>
{% endblock %}